h1 {
    color: red;
    text-align: center;
    background-color: blueviolet;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: block;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    display: block;
}

a:hover {
    color: red;
}

.gfg {
    position: relative;
    width: 25%;
    height: 25%;
    text-align: center;
}

.text-container {
    position: absolute;
    color: rgb(255, 255, 255);
   top:30px;
    
    background-color: rgba(41, 41, 41, 0.8);
    
}